/**
* @name Comfy
* @author Pukima#0001
* @authorId 751092600890458203
* @description Stay comfy while talking to your friends.
* @invite 9YDAm3qTae
* @version 2.0
*/

/* Imports actual Theme <3 */
@import url("https://pukimaa.github.io/Comfy/Comfy.theme.css");

    
/* User button spacing */
--user-buttons-spacing: 8px;

/* Avatar position */
--avatar-left: 15px;
--avatar-bottom: 135px;

/* Avatar roundess */
--avatar-radius: 5px;  

/* Status roundness */
--status-radius: 3px; 

/* Server roundess */
--server-radius: 25px;

/* Avatar width in modals */
--avatar-width: 130px;

/* Change bonfire in modals */
--bonfire: url('https://pukima.site/Comfy/assets/bonfire.gif');

/* Colored emoji picker */
--colored-emoji: grayscale(0%); /* Change the value to "100%" if you want the basic one */

/* Mention color */
--mention-color: #f04747;
--unread-color: #7289da;

/* Mention color in chat */
--mention-color-bar: #C66262;
--mention-color-background: #c662621f;
--mention-color-hover: #c6626226;

/* User settings color (Mute, Deafen and settings) */
--user-buttons-color: #D65E95;

/* Chat buttons color */
--chat-buttons: #6E85D3;

/* Spotify plugin seek bar */
--spotify-color: #1EDC62;

/* Status color */
--online: #43B581;
--iddle: #FAA61A;
--dnd: #F04747;
--offline: #747F8D;

/* Circles next to role names */
--role-circle: 5px;

/* Tooltips */
--tooltips: block; /* Set it to "none" if you don't want it */

/* Discord logo */
--discord-logo: none; /* Set it to "block" if you want it */

/* Tolltip vars */
    --tooltip-color: rgba(95, 118, 202, 0.5);
    --tooltip-blur: blur(2px);

    /*For Backgroundimage*/
    --background:url('https://i.imgur.com/QhXG1mw.png');
    --chat-transparency:0.75;
    --sides-transparency:0.85;
    --sides-blur:5px;

    /*Pukima Serverbanner*/
    --server-banner-shadow: var(--background-secondary);
}


/*Extending bottom bar on the Serverlist*/
#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.sidebar-2K8pFh > section > div.container-3baos1 > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6 {
    padding: 95px 0 10px 0;
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > nav > ul > div.scroller-1Bvpku.none-2Eo-qx.scrollerBase-289Jih > div:nth-child(5) {
    visibility: hidden;
}

#bd-pub-li {
    display: none;
}

/* BG */
.form-2fGMdU:before {display:none}
.bg-h5JY_x, .app-2rEoOp, .chat-3bRxxu, .theme-dark .container-1D34oG, .scroller-1JbKMe, .sidebar-2K8pFh, .members-1998pB>div {background:transparent}
.content-98HsJk .sidebar-2K8pFh {border-radius:0}
.appMount-3lHmkl {background:var(--background) center/cover no-repeat}
.chatContent-a9vAAp, .peopleColumn-29fq28 {background:rgba(35,40,61,var(--chat-transparency))}
.withFrame-haYltI {background:var(--background-tertiary);padding-top:4px;margin-top:0}
.privateChannels-1nO12o, .nowPlayingColumn-2sl4cE, .container-3w7J-x, #app-mount .pageWrapper-1PgVDX, .sidebar-2K8pFh>.scrollerBase-289Jih, .members-1998pB {background:rgba(30,34,51,var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))}

/* Blurple Tooltipbg */
.tooltip-2QfLtc {
    background-color: var(--tooltip-color) !important;
    backdrop-filter: var(--tooltip-blur);
 }
 .tooltipPointer-3ZfirK {
    border-top-color: var(--tooltip-color) !important;
}

/*Blurple Emoji Chatbar*/
.sprite-2iCowe {
    filter: none !important;
    background: url('https://raw.githack.com/Pukimaa/Comfy/master/assets/emoji.png') center/contain no-repeat !important;
}

/*Avatar highlight*/
.container-1taM1r {
  background: transparent !important;
}
.avatar-SmRMf2 { 
    filter: drop-shadow(0 0 3px);
    color: black;
}
.avatar-SmRMf2:hover {
    filter: drop-shadow(0 0 8px);
    color: #353535;
}

/*Extending bottom bar on the Serverlist*/
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 {
    padding: 95px 0 10px 0;
}

/*Removes bonfire next to chatbar*/
.channelTextArea-rNsIhG .scrollableContainer-2NUZem:after, .form-2fGMdU .wrapper-39oAo3:after {
    display: none !important;
}

.form-2fGMdU {
  padding-left: 16px !important;
}

/* Replaces Message Links with "Jump to Message" */
[href^="https://discord.com/channels/"] {line-height:0;font-size:0}
[href^="https://discord.com/channels/"]::before {content:'Jump to Message';font-size:16px;font-weight:700}

/* Red mutetext wit a Icon */
.muteText-gutGxh {
  color: rgb(255, 53, 53);
  margin-top: 3px;
  margin-left: 1.5px;
  background: url('https://svgshare.com/i/WEo.svg') no-repeat;
  background-size: 23px;
}

.muteText-gutGxh::before {
  content: "‎‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎  ‎‏‏‎ ‎‏‏‏‏‎ ‎‎‏‏‎ ‎";
}

/*Move Voice Users To The Top*/
/*Concept by Cryptogenic, Code shrunk by David*/
.container-1giJp5 {display:flex;flex-direction:column;}
.container-1giJp5 > .voiceUsers-YsH5Db {order:0;margin-bottom:8px;}
.container-1giJp5 > .connection-3KRENF, .container-1giJp5 > .actionButtons-14eAc_ {order:1;width:224px;}
/*Move Voice Users To The Top*/

/*Status Line under Profile Popout bottom left corner*/
.avatarWrapper-2yR4wp[aria-expanded="true"] > .avatar-SmRMf2 > .mask-1l8v16 > rect {
    border-radius: 0;
    x: 0; y: 35; rx: 2 !important;
    width: 32.5px; height: 2.5px;
    mask: none;
    pointer-events: none;
} 
.avatarWrapper-2yR4wp[aria-expanded="true"] > .avatar-SmRMf2 > .mask-1l8v16 > svg > rect {
    border-radius: 0;
    x: -14.5; y: 18; rx: 2 !important;
    width: 32px; height: 3px;
    mask: none;
    pointer-events: none;
}

:root .avatarWrapper-2yR4wp[aria-expanded=true] .wrapper-3t9DeA::before {
  top: -18px;
  left: -85px;
  width: 230px;
}
