/**
* @name Comfy
* @author Pukima#0001 (Originally: Nyria#3863)
* @description Stay comfy while talking to your friends.
* @invite 9YDAm3qTae
* @version 1.0
*/

@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
@import url("https://nyri4.github.io/Comfy/betterdiscord/main.css");

/* If you don't like one of those variables until "Other settings" you can delete them or you can also
    try to change those if you have some css knowledge */

/* User popout animation */
.headerPlaying-j0WQBV.header-2BwW8b, .headerSpotify-zpWxgT.header-2BwW8b, .headerStreaming-2FjmGz.header-2BwW8b, .headerXbox-3G-4PF.header-2BwW8b { padding-bottom: 30px;}.headerPlaying-j0WQBV.header-2BwW8b:after, .headerSpotify-zpWxgT.header-2BwW8b:after, .headerStreaming-2FjmGz.header-2BwW8b:after, .headerXbox-3G-4PF.header-2BwW8b:after { background: url('https://nyri4.github.io/Comfy/assets/wave.png'); background-size: 250px 20px; animation: animate 6s linear infinite !important; opacity: 1 !important;}.header-2BwW8b:after, .headerPlaying-j0WQBV:before, .headerSpotify-zpWxgT:before, .headerStreaming-2FjmGz:before, .headerXbox-3G-4PF:before { position: absolute;content: "";bottom: -1px;left: 0;width: 250px;height: 20px;z-index: -1;animation: animate2 6s linear infinite;animation-delay: 0s;opacity: 0.5;}.headerPlaying-j0WQBV:before { background: url('https://nyri4.github.io/Comfy/assets/wave_playing.png'); background-size: 250px 20px;}.headerSpotify-zpWxgT:before { background: url('https://nyri4.github.io/Comfy/assets/wave_spotify.png'); background-size: 250px 20px;}.headerStreaming-2FjmGz:before { background: url('https://nyri4.github.io/Comfy/assets/wave_streaming.png'); background-size: 250px 20px;}.headerXbox-3G-4PF:before { background: url('https://nyri4.github.io/Comfy/assets/wave_xbox.png'); background-size: 250px 20px;}@keyframes animate { 0% { background-position-x: 0;} 100% { background-position-x: 250px;}}@keyframes animate2 {0% { background-position-x: 250px; } 100% { background-position-x: 0px;}}

/* No scrollbars */
::-webkit-scrollbar { display: none !important;}.note-3HfJZ5 { margin-right: 0; }.content-1x5b-n { margin: 0 !important; border-radius: 0; }.mainContent-u_9PKf { padding-left: 8px;}.member-3-YXUe, [id*="private-channels-"] { margin: 0; max-width: unset; }.layout-2DM8Md { border-radius: 0; padding: 0 16px;}.unread-2lAfLh { z-index: 1;}.content-1LAB8Z, .item-1tOPte { margin-right: 8px;}.scroller-2hZ97C { padding-left: 0;}.scroller-2hZ97C > .content-3YMskv, .buttons-3JBrkn, .messagesPopout-24nkyi { padding-right: 10px !important; }.inviteRow-2L02ae {border-radius: 0; padding-left: 15px;}

/* Better Spotify plugin seek bar */
.container-6sXIoE { border-bottom: none !important; padding-top: 0 !important; margin: 0 !important;}
.container-6sXIoE .timeline-UWmgAx { position: absolute !important; left: 0px !important;width: 240px !important; height: 53px !important;margin: 0;-webkit-mask-image: linear-gradient(0.25turn, #0008, #0002) !important;mask-image: linear-gradient(0.25turn, #0008, #0002) !important;border-radius: 0 !important;}.bar-g2ZMIm .barFill-Dhkah7 { border-radius: 0 !important;}.container-6sXIoE.maximized-vv2Wr0 .bar-g2ZMIm { height: 87px !important;}.container-6sXIoE .button-14-BFJ:hover { background-color: transparent !important;}.barFill-Dhkah7, .timeline-UWmgAx:hover .barFill-Dhkah7 { background: var(--spotify-color) !important;}.inner-WRV6k5 { z-index: 1 !important;}.barText-lmqc5O, .grabber-7sd5f5 { display: none !important;}.container-6sXIoE .bar-g2ZMIm { width: 100% !important; height: 100% !important; margin-bottom: 0 !important;}    

:root {
/* -- Others settings -- */

/* User button spacing */
--user-buttons-spacing: 8px;

/* Avatar roundess */
--avatar-radius: 5px;  

/* Status roundness */
--status-radius: 3px; 

/* Server roundess */
--server-radius: 25px;

/* Avatar width in modals */
--avatar-width: 130px;

/* Change bonfire in modals */
--bonfire: url('https://cdn.discordapp.com/icons/782245108724400128/a_b4eed6e310621438b23efd56e9b74f50.png?size=2048');

/* Colored emoji picker */
--colored-emoji: grayscale(100%); /* Change the value to "100%" if you want the basic one */

/* Mention color */
--mention-color: #f04747;
--unread-color: #7289da;

/* Mention color in chat */
--mention-color-bar: #C66262;
--mention-color-background: #c662621f;
--mention-color-hover: #c6626226;

/* User settings color (Mute, Deafen and settings) */
--user-buttons-color: #D65E95;

/* Chat buttons color */
--chat-buttons: #6E85D3;

/* Spotify plugin seek bar */
--spotify-color: #1EDC62;

/* Status color */
--online: #43B581;
--iddle: #FAA61A;
--dnd: #F04747;
--offline: #747F8D;

/* Circles next to role names */
--role-circle: 5px;

/* Tooltips */
--tooltips: block; /* Set it to "none" if you don't want it */

/* Discord logo */
--discord-logo: none; /* Set it to "block" if you want it */

}
 
.theme-dark {
    --background-tertiary: #101320;
    --background-secondary: #1e2233;
    --background-secondary-alt: #191f2e;
    --background-primary: #23283d;
    --background-mobile-primary: #23283d;
    --background-mobile-secondary: #1e2233;
    --channeltextarea-background: #191f2e;
    --background-accent: #6E85D3;
    --background-modifier-hover: #1c2030;
    --background-modifier-active: #1a1e2e;
    --background-modifier-selected: #191f2e;
    --deprecated-card-bg: #12141f63;
    --background-floating: #101320;
    --deprecated-quickswitcher-input-background:#101320;
    --elevation-low: none;
    --scrollbar-auto-thumb: #121722;
    --scrollbar-auto-track: #191f2e;
    --scrollbar-thin-thumb: #141925;
    --activity-card-background: #101320;
}
 
.theme-light { /* I don't support light theme it's just for the "Create a server" popup */
    --background-tertiary: #101320;
    --background-secondary: #1e2233;
    --background-secondary-alt: #191f2e;
    --background-primary: #23283d;
    --background-accent: #6E85D3;
    --background-modifier-hover: #262b41;
    --background-modifier-active: #262b41;
    --header-primary: #fff;
    --header-secondary: #b1b5b9;
    --text-normal: #8e9297;
}

/*can be removed*/

/*Status Line under Profile Popout bottom left corner*/
.avatarWrapper-2yR4wp[aria-expanded="true"] > .avatar-SmRMf2 > .mask-1l8v16 > rect {
    border-radius: 0;
    x: 0; y: 35; rx: 2 !important;
    width: 32.5px; height: 2.5px;
    mask: none;
    pointer-events: none;
} 

/*Online Status for own profile bottom left corner*/
.avatarWrapper-2yR4wp[aria-expanded="true"] > .avatar-SmRMf2 > .mask-1l8v16 > rect {
    border-radius: 0;
    x: 0; y: 35; rx: 2 !important;
    width: 32.5px; height: 2.5px;
    mask: none;
    pointer-events: none;
} 
.avatarWrapper-2yR4wp[aria-expanded="true"] > .avatar-SmRMf2 > .mask-1l8v16 > svg > rect {
    border-radius: 0;
    x: -14.5; y: 18; rx: 2 !important;
    width: 32px; height: 3px;
    mask: none;
    pointer-events: none;
}

/*Pukima#0001 USRBG*/
[user_by_bdfdb="751092600890458203"],
[data-user-id="751092600890458203"] {
    --user-background: url('https://64.media.tumblr.com/74237de3af37b07836a7b0ff3e40eaeb/26ca17108d0ebeb8-01/s400x600/8ef3fb3661670a55e52d0189fa35a2b2922b5c8a.gifv');
}

/*Cyden#6577 USRBG*/
[user_by_bdfdb="501121253097209857"],
[data-user-id="501121253097209857"] {
    --user-background: url('https://i.imgur.com/aAH52oj.gif');
}

/*Nour#7280*/
[user_by_bdfdb="821808599810048061"],
[data-user-id="821808599810048061"] {
    --user-background: url('https://i.giphy.com/media/P2hdI6VaKlFhxncQG9/giphy.gif');
}

/*Focus#1571*/
[user_by_bdfdb="723054802136858634"],
[data-user-id="723054802136858634"] {
    --user-background: url('https://cdn.discordapp.com/avatars/723054802136858634/407e0f685d83ad2f39b872674484fec1.png?size=2048');
}

/*Aud#9488*/
[user_by_bdfdb="237585712998907914"],
[data-user-id="237585712998907914"] {
    --user-background: url('https://i.imgur.com/u8uCk8L.jpeg');
}

/*little_dino🥺🦖#9641*/
[user_by_bdfdb="804371946590306385"],
[data-user-id="804371946590306385"] {
    --user-background: url('https://i.imgur.com/1wVnsac.gif');
}

/*Leonie#8286*/
[user_by_bdfdb="635125063896793098"],
[data-user-id="635125063896793098"] {
    --user-background: url('https://i.imgur.com/Ef3qkd6.png');
}

/*Custom Icons*/

/*Pukima Server*/
[href="/channels/782245108724400128/782250743293018133"] > div > svg > path {d: path("M4.79805 3C3.80445 3 2.99805 3.8055 2.99805 4.8V15.6C2.99805 16.5936 3.80445 17.4 4.79805 17.4H7.49805V21L11.098 17.4H19.198C20.1925 17.4 20.998 16.5936 20.998 15.6V4.8C20.998 3.8055 20.1925 3 19.198 3H4.79805Z");transform: scale(1.1);}
[href="/channels/782245108724400128/782245110514843741"] > div > svg > path { d: path("M8 17v-6h4v6h5V9h3L10 0 0 9h3v8z"); transform: scale(1.2);}
[href="/channels/782245108724400128/823097008302194689"] > div > svg > path, [href="/channels/811203761619337259/811203762147426347"] > div > svg > path { d: path("M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z"); transform: scale(1.5);}
[href="/channels/782245108724400128/782258620309438475"] > div > svg > path, [href="/channels/811203761619337259/782258620309438475"] > div > svg > path { d: path("M18 9V14C18 15.657 19.344 17 21 17V18H3V17C4.656 17 6 15.657 6 14V9C6 5.686 8.686 3 12 3C15.314 3 18 5.686 18 9ZM11.9999 21C10.5239 21 9.24793 20.19 8.55493 19H15.4449C14.7519 20.19 13.4759 21 11.9999 21Z"); transform: scale(1.1);}