/**
* @name Comfy (Custom Font)
* @author Pukima#0001 (Originally: Nyria#3863)
* @description Stay comfy while talking to your friends.
* @invite 9YDAm3qTae
* @version 1.0
*/

@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
@import url("https://nyri4.github.io/Comfy/betterdiscord/main.css");
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

/*Custom Font*/
::-webkit-input-placeholder, body, button, input, select, textarea {
    font-family: 'Balsamiq Sans', cursive;
}

/* If you don't like one of those variables until "Other settings" you can delete them or you can also
    try to change those if you have some css knowledge */

/* User popout animation */
.headerPlaying-j0WQBV.header-2BwW8b, .headerSpotify-zpWxgT.header-2BwW8b, .headerStreaming-2FjmGz.header-2BwW8b, .headerXbox-3G-4PF.header-2BwW8b { padding-bottom: 30px;}.headerPlaying-j0WQBV.header-2BwW8b:after, .headerSpotify-zpWxgT.header-2BwW8b:after, .headerStreaming-2FjmGz.header-2BwW8b:after, .headerXbox-3G-4PF.header-2BwW8b:after { background: url('https://nyri4.github.io/Comfy/assets/wave.png'); background-size: 250px 20px; animation: animate 6s linear infinite !important; opacity: 1 !important;}.header-2BwW8b:after, .headerPlaying-j0WQBV:before, .headerSpotify-zpWxgT:before, .headerStreaming-2FjmGz:before, .headerXbox-3G-4PF:before { position: absolute;content: "";bottom: -1px;left: 0;width: 250px;height: 20px;z-index: -1;animation: animate2 6s linear infinite;animation-delay: 0s;opacity: 0.5;}.headerPlaying-j0WQBV:before { background: url('https://nyri4.github.io/Comfy/assets/wave_playing.png'); background-size: 250px 20px;}.headerSpotify-zpWxgT:before { background: url('https://nyri4.github.io/Comfy/assets/wave_spotify.png'); background-size: 250px 20px;}.headerStreaming-2FjmGz:before { background: url('https://nyri4.github.io/Comfy/assets/wave_streaming.png'); background-size: 250px 20px;}.headerXbox-3G-4PF:before { background: url('https://nyri4.github.io/Comfy/assets/wave_xbox.png'); background-size: 250px 20px;}@keyframes animate { 0% { background-position-x: 0;} 100% { background-position-x: 250px;}}@keyframes animate2 {0% { background-position-x: 250px; } 100% { background-position-x: 0px;}}

/* No scrollbars */
::-webkit-scrollbar { display: none !important;}.note-3HfJZ5 { margin-right: 0; }.content-1x5b-n { margin: 0 !important; border-radius: 0; }.mainContent-u_9PKf { padding-left: 8px;}.member-3-YXUe, [id*="private-channels-"] { margin: 0; max-width: unset; }.layout-2DM8Md { border-radius: 0; padding: 0 16px;}.unread-2lAfLh { z-index: 1;}.content-1LAB8Z, .item-1tOPte { margin-right: 8px;}.scroller-2hZ97C { padding-left: 0;}.scroller-2hZ97C > .content-3YMskv, .buttons-3JBrkn, .messagesPopout-24nkyi { padding-right: 10px !important; }.inviteRow-2L02ae {border-radius: 0; padding-left: 15px;}

/* Better Spotify plugin seek bar */
.container-6sXIoE { border-bottom: none !important;}.container-6sXIoE .bar-g2ZMIm {position: absolute !important;bottom: 0 !important; left: 0 !important;width: 240px !important; height: 54px !important;margin-bottom: 0 !important;-webkit-mask-image: linear-gradient(0.25turn, #0008, #0002) !important;mask-image: linear-gradient(0.25turn, #0008, #0002) !important;border-radius: 0 !important;}.bar-g2ZMIm .barFill-Dhkah7 { border-radius: 0 !important;}.container-6sXIoE.maximized-vv2Wr0 .bar-g2ZMIm { height: 87px !important;}.container-6sXIoE .button-14-BFJ:hover { background-color: transparent !important;}.barFill-Dhkah7, .timeline-UWmgAx:hover .barFill-Dhkah7 { background: var(--spotify-color) !important;}.inner-WRV6k5 { z-index: 1 !important;}.barText-lmqc5O, .grabber-7sd5f5 { display: none !important;}

:root {
/* -- Others settings -- */

/* User button spacing */
--user-buttons-spacing: 8px;

/* Avatar roundess */
--avatar-radius: 5px;  

/* Status roundness */
--status-radius: 3px; 

/* Server roundess */
--server-radius: 25px;

/* Avatar width in modals */
--avatar-width: 130px;

/* Change bonfire in modals */
--bonfire: url('https://cdn.discordapp.com/icons/782245108724400128/a_b4eed6e310621438b23efd56e9b74f50.png?size=2048');

/* Colored emoji picker */
--colored-emoji: grayscale(0%); /* Change the value to "100%" if you want the basic one */

/* Mention color */
--mention-color: #f04747;
--unread-color: #7289da;

/* Mention color in chat */
--mention-color-bar: #C66262;
--mention-color-background: #c662621f;
--mention-color-hover: #c6626226;

/* User settings color (Mute, Deafen and settings) */
--user-buttons-color: #D65E95;

/* Chat buttons color */
--chat-buttons: #6E85D3;

/* Spotify plugin seek bar */
--spotify-color: #1EDC62;

/* Status color */
--online: #43B581;
--iddle: #FAA61A;
--dnd: #F04747;
--offline: #747F8D;

/* Circles next to role names */
--role-circle: 5px;

/* Tooltips */
--tooltips: block; /* Set it to "none" if you don't want it */

/* Discord logo */
--discord-logo: none; /* Set it to "block" if you want it */

}
 
.theme-dark {
    --background-tertiary: #101320;
    --background-secondary: #1e2233;
    --background-secondary-alt: #191f2e;
    --background-primary: #23283d;
    --background-mobile-primary: #23283d;
    --background-mobile-secondary: #1e2233;
    --channeltextarea-background: #191f2e;
    --background-accent: #6E85D3;
    --background-modifier-hover: #1c2030;
    --background-modifier-active: #1a1e2e;
    --background-modifier-selected: #191f2e;
    --deprecated-card-bg: #12141f63;
    --background-floating: #101320;
    --deprecated-quickswitcher-input-background:#101320;
    --elevation-low: none;
    --scrollbar-auto-thumb: #121722;
    --scrollbar-auto-track: #191f2e;
    --scrollbar-thin-thumb: #141925;
    --activity-card-background: #101320;
}
 
.theme-light { /* I don't support light theme it's just for the "Create a server" popup */
    --background-tertiary: #101320;
    --background-secondary: #1e2233;
    --background-secondary-alt: #191f2e;
    --background-primary: #23283d;
    --background-accent: #6E85D3;
    --background-modifier-hover: #262b41;
    --background-modifier-active: #262b41;
    --header-primary: #fff;
    --header-secondary: #b1b5b9;
    --text-normal: #8e9297;
}

/*can be removed*/

/*Status Line under Profile Popout bottom left corner*/
.avatarWrapper-2yR4wp[aria-expanded="true"] > .avatar-SmRMf2 > .mask-1l8v16 > rect {
    border-radius: 0;
    x: 0; y: 35; rx: 2 !important;
    width: 32.5px; height: 2.5px;
    mask: none;
    pointer-events: none;
} 
.avatarWrapper-2yR4wp[aria-expanded="true"] > .avatar-SmRMf2 > .mask-1l8v16 > svg > rect {
    border-radius: 0;
    x: -14.5; y: 18; rx: 2 !important;
    width: 32px; height: 3px;
    mask: none;
    pointer-events: none;
}

/*Pukima#0001 USRBG*/
[user_by_bdfdb="751092600890458203"],
[data-user-id="751092600890458203"] {
    --user-background: url('https://i.imgur.com/JMBhvbB.gif');
}

/*Cyden#6577 USRBG*/
[user_by_bdfdb="501121253097209857"],
[data-user-id="501121253097209857"] {
    --user-background: url('https://i.imgur.com/aAH52oj.gif');
}

/*Custom Icons*/

/*Pukima Server*/
[href="/channels/782245108724400128/782250743293018133"] > div > svg > path {d: path("M4.79805 3C3.80445 3 2.99805 3.8055 2.99805 4.8V15.6C2.99805 16.5936 3.80445 17.4 4.79805 17.4H7.49805V21L11.098 17.4H19.198C20.1925 17.4 20.998 16.5936 20.998 15.6V4.8C20.998 3.8055 20.1925 3 19.198 3H4.79805Z");transform: scale(1.1);}
[href="/channels/782245108724400128/782245110514843741"] > div > svg > path { d: path("M8 17v-6h4v6h5V9h3L10 0 0 9h3v8z"); transform: scale(1.2);}